<div class="container">


  <div *ngFor="let hotel of hotelList" class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <cl-image [public-id]="getPublicId(hotel?.hotelImageUrl)" width="100%">
          <cl-transformation
            height="230"
            width="360"
            crop="fill">
          </cl-transformation>
        </cl-image>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 (click)="hotelDetail(hotel.id)" class="card-title" style="cursor: pointer">{{hotel?.name}}
            - {{hotel?.hotelType}}</h4>
          <h6 class="card-subtitle mb-2">
            Address: {{hotel?.postalCode}}  {{hotel?.city}}, {{hotel?.streetAddress}}
          </h6>

          <p class="card-text">
            {{ hotel?.shortDescription}}
          </p>

          <div class="btn-toolbar"  class="text-right" role="toolbar">

            <div class="btn-group mr-4">
              <button (click)="hotelDetail(hotel.id)" class="btn btn-primary btn-sm">Tovább a hotelhez</button>
            </div>
            <div *ngIf="account.role === 'ROLE_ADMIN'" class="btn-group">
              <button (click)="updateHotel(hotel.id)" class="btn btn-secondary btn-sm">Hotel szerkesztése</button>
              <button (click)="deleteHotel(hotel.id)" class="btn btn-danger btn-sm">Hotel törlése</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <nav aria-label="...">
    <ul class="pagination">

      <li class="page-item" [ngClass]="{'disabled': listPageNumber == 1}">
        <a class="page-link" (click)="onPageNumClick(listPageNumber-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li *ngFor="let pageNumber of pageNumbers" class="page-item" [ngClass]="{'active': pageNumber == listPageNumber}">
        <a class="page-link" (click)="onPageNumClick(pageNumber)">{{pageNumber}}<span
          *ngIf="pageNumber == listPageNumber" class="sr-only">(current)</span></a>
      </li>

      <li class="page-item" [ngClass]="{'disabled': listPageNumber == pageNumbers?.length}">
        <a class="page-link" (click)="onPageNumClick(listPageNumber+1)" aria-label="Previous">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

    </ul>
  </nav>
</div>
