<div class="container">

<h2>Hotel list</h2>

  <div *ngFor="let hotel of hotelList" class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <cl-image [public-id]="getPublicId(hotel?.hotelImageUrl)">
          <cl-transformation
            height="230"
            width="360"
            crop="fill">
          </cl-transformation>
          <!--<img class="d-block w-100" [src]="hotel?.hotelImageUrl" alt="Hotel image">-->
        </cl-image>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{hotel?.name}} - {{hotel?.hotelType}}</h4>
          <h6 class="card-subtitle mb-2">
            Address: {{hotel?.postalCode}}  {{hotel?.city}}, {{hotel?.streetAddress}}
          </h6>

          <p class="card-text">
            {{ hotel?.shortDescription}}
          </p>

          <div class="btn-toolbar"  class="text-right" role="toolbar">

            <div class="btn-group mr-4">
              <button (click)="hotelDetail(hotel.id)" class="btn btn-primary btn-sm">details</button>
            </div>
            <div class="btn-group">
              <button (click)="updateHotel(hotel.id)" class="btn btn-secondary btn-sm">edit&nbsp;&nbsp;</button>
              <button (click)="deleteHotel(hotel.id)" class="btn btn-danger btn-sm">delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
