<br>
<div *ngFor="let pastBooking of pastBookingList"
     class="card mb-3">
  <div class="row no-gutters">

    <div class="col-md-8">
      <div (click)="bookingDetails(pastBooking.id)" class="card-body" style="cursor: pointer">

        Foglalás - kezdete: <strong>{{pastBooking.startDate | date:'y. MMM d. EEEE'}}</strong>
        - vége: <strong>{{pastBooking.endDate | date:'y. MMM d. EEEE'}}</strong><br>

        Vendég neve: <strong>{{pastBooking.guest.lastname}}</strong>&nbsp;
        <strong>{{pastBooking.guest.firstname}}</strong>
        ( felhasználónév: {{pastBooking.guest.username}}) -
        vendégek száma: {{pastBooking.numberOfGuests}} fő <br>
        <!--    foglalás ára: {{pastBooking.priceOfBooking.toLocaleString('hu-HU')}} Ft<br>-->

        <ol>
          <li *ngFor="let room of pastBooking.reservedRooms">
            <h6 style="display: inline;">{{ room.roomName }} - {{ room.roomType }}</h6>
            (Férőhelyek: {{ room.numberOfBeds }})
          </li>
        </ol>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-body">
        <div class="btn-group mr-4" class="text-right">
          <button (click)="deleteBooking(pastBooking.id)" class="btn btn-primary mr-4 ">
            Foglalás törlése
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
<nav *ngIf="pageNumbers" aria-label="...">
  <ul class="pagination">

    <li [ngClass]="{'disabled': listPageNumber == 0}" class="page-item">
      <a (click)="onPageNumClick(listPageNumber-1)" aria-label="Previous" class="page-link">
        <span aria-hidden="true" style="cursor: pointer">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li *ngFor="let pageNumber of pageNumbers" [ngClass]="{'active': pageNumber == listPageNumber}" class="page-item">
      <a (click)="onPageNumClick(pageNumber)" class="page-link" style="cursor: pointer">{{pageNumber + 1}}<span
        *ngIf="pageNumber == listPageNumber" class="sr-only">(current)</span></a>
    </li>

    <li [ngClass]="{'disabled': listPageNumber == pageNumbers?.length-1}" class="page-item">
      <a (click)="onPageNumClick(listPageNumber+1)" aria-label="Previous" class="page-link">
        <span aria-hidden="true" style="cursor: pointer">&raquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

  </ul>
</nav>
