<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a id="nav-index" class="navbar-brand" routerLink="/">hotel</a>
  <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="nav-link" id="hotel-form-link" routerLink="/hotel-form" routerLinkActive="active">New Hotel</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="hotel-list-link" routerLink="/hotel-list" routerLinkActive="active">Hotel list</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="room-form-link" routerLink="/room-form" routerLinkActive="active">New Room</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="room-list-link" routerLink="/room-list" routerLinkActive="active">Room list</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="registration" routerLinkActive="active">Registration</a>
      </li>

    </ul>
  </div>
</nav>
