<div class="container">
  <h2>Room form</h2>
  <hr/>
  <form (ngSubmit)="onSubmit()" [formGroup]="roomForm">

    <div class="form-group">
      <label for="roomName" class="form-control-label">
        Room name:
      </label>
      <input
        type="text"
        id="roomName"
        formControlName="roomName"
        name="roomName"
        placeholder="Room name"
        class="form-control"
      />
      <small *ngIf="roomForm.get('roomName').errors?.serverError" class="text-danger">
        {{roomForm.get('roomName').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomType" class="form-control-label">
        Room type:
      </label>
      <select
        id="roomType"
        formControlName="roomType"
        name="roomType"
        class="form-control"
      >
        <option value="" disabled>&#45;&#45; Please choose a room type &#45;&#45;</option>
        <option *ngFor="let roomType of roomTypeOption, let i = index"
                value="{{roomType?.name}}"> {{roomType?.displayName}} </option>
      </select>
    </div>

    <div class="form-group">
      <label for="numberOfBeds" class="form-control-label">
        Number of beds:
      </label>
      <input
        type="number"
        id="numberOfBeds"
        formControlName="numberOfBeds"
        name="numberOfBeds"
        class="form-control"
        placeholder="Enter the number of people that can sleep in the room"
      />
      <small *ngIf="roomForm.get('numberOfBeds').errors?.serverError" class="text-danger">
        {{roomForm.get('numberOfBeds').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomArea" class="form-control-label">
        Room area:
      </label>
      <input
        type="number"
        id="roomArea"
        formControlName="roomArea"
        name="roomArea"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="pricePerNight" class="form-control-label">
        Price per night:
      </label>
      <input
        type="number"
        id="pricePerNight"
        formControlName="pricePerNight"
        name="pricePerNight"
        class="form-control"
        placeholder="Enter the price per night"
      />
      <small *ngIf="roomForm.get('pricePerNight').errors?.serverError" class="text-danger">
        {{roomForm.get('pricePerNight').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="description" class="form-control-label">
        Description:
      </label>
      <textarea
        rows="5"
        type="text"
        id="description"
        formControlName="description"
        name="description"
        placeholder="Description"
        class="form-control"
      ></textarea>
      <small *ngIf="roomForm.get('description').errors?.serverError" class="text-danger">
        {{roomForm.get('description').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="roomImageUrl" class="form-control-label">
        Room image url:
      </label>
      <input
        type="text"
        id="roomImageUrl"
        formControlName="roomImageUrl"
        name="roomImageUrl"
        placeholder="Enter an url for the room image"
        class="form-control"
      />
      <small *ngIf="roomForm.get('roomImageUrl').errors?.serverError" class="text-danger">
        {{roomForm.get('roomImageUrl').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label class="form-control-label">
        Room features:
      </label>
      <div formArrayName="roomFeatures" *ngFor="let roomFeatures of roomFeatureTypeOption; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i">
          {{ roomFeatures?.displayName }}
        </label>
      </div>
    </div>

    <br/>
    <button class="btn btn-primary my-buttons">Save Room</button>
  </form>
  <br>
  <br>
</div>
